html {
	font-size: 20px;
	text-shadow: 5 white;
	font-family: Arial;
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

body {
	overflow: hidden;
}

input[type=text] {
	margin-bottom: 10px;
}

h1 {
	margin-top: 0;
	text-align: center;
	width: auto;
}

input[type=checkbox] {
    transform: scale(1.5);
}

input, button {
	box-shadow: 0px 0px 3px 1px white;
	background: black;
}

textarea, select, input, button {
	color: white;
}

.innerDiv {
	margin-left: 7%;
}

.timeInput {
	width: 30px;
}

.smallText {
	font-size: 15px;
}

.calculateButton {
	font-size: 20px;
}

.outputArea {
	width: 200px;
	font-size: 50px;
}
